In [13]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [14]:
df = pd.read_csv('../data/loan.csv', low_memory=False)

# 1. Exploring the Data

In [15]:
df.head(20)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1075269,1311441,5000.0,5000.0,5000.0,36 months,7.90,156.46,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1069639,1304742,7000.0,7000.0,7000.0,60 months,15.96,170.08,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1072053,1288686,3000.0,3000.0,3000.0,36 months,18.64,109.43,E,E1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1071795,1306957,5600.0,5600.0,5600.0,60 months,21.28,152.39,F,F2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1071570,1306721,5375.0,5375.0,5350.0,60 months,12.69,121.45,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1070078,1305201,6500.0,6500.0,6500.0,60 months,14.65,153.45,C,C3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1069908,1305008,12000.0,12000.0,12000.0,36 months,12.69,402.54,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1064687,1298717,9000.0,9000.0,9000.0,36 months,13.49,305.38,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1069866,1304956,3000.0,3000.0,3000.0,36 months,9.91,96.68,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1069057,1303503,10000.0,10000.0,10000.0,36 months,10.65,325.74,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1069759,1304871,1000.0,1000.0,1000.0,36 months,16.29,35.31,D,D1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1065775,1299699,10000.0,10000.0,10000.0,36 months,15.27,347.98,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1069971,1304884,3600.0,3600.0,3600.0,36 months,6.03,109.57,A,A1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1062474,1294539,6000.0,6000.0,6000.0,36 months,11.71,198.46,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1069742,1304855,9200.0,9200.0,9200.0,36 months,6.03,280.01,A,A1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887379 entries, 0 to 887378
Data columns (total 74 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           887379 non-null  int64
 1   member_id                    887379 non-null  int64
 2   loan_amnt                    887379 non-null  float64
 3   funded_amnt                  887379 non-null  float64
 4   funded_amnt_inv              887379 non-null  float64
 5   term                         887379 non-null  object
 6   int_rate                     887379 non-null  float64
 7   installment                  887379 non-null  float64
 8   grade                        887379 non-null  object
 9   sub_grade                    887379 non-null  object
 10  emp_title                    835917 non-null  object
 11  emp_length                   842554 non-null  object
 12  home_ownership               887379 non-null  object
 13  annual_inc                   887375 non-null  float64
 14  verification_status          887379 non-null  object
 15  issue_d                      887379 non-null  object
 16  loan_status                  887379 non-null  object
 17  pymnt_plan                   887379 non-null  object
 18  url                          887379 non-null  object
 19  desc                         126026 non-null  object
 20  purpose                      887379 non-null  object
 21  title                        887226 non-null  object
 22  zip_code                     887379 non-null  object
 23  addr_state                   887379 non-null  object
 24  dti                          887379 non-null  float64
 25  delinq_2yrs                  887350 non-null  float64
 26  earliest_cr_line             887350 non-null  object
 27  inq_last_6mths               887350 non-null  float64
 28  mths_since_last_delinq       433067 non-null  float64
 29  mths_since_last_record       137053 non-null  float64
 30  open_acc                     887350 non-null  float64
 31  pub_rec                      887350 non-null  float64
 32  revol_bal                    887379 non-null  float64
 33  revol_util                   886877 non-null  float64
 34  total_acc                    887350 non-null  float64
 35  initial_list_status          887379 non-null  object
 36  out_prncp                    887379 non-null  float64
 37  out_prncp_inv                887379 non-null  float64
 38  total_pymnt                  887379 non-null  float64
 39  total_pymnt_inv              887379 non-null  float64
 40  total_rec_prncp              887379 non-null  float64
 41  total_rec_int                887379 non-null  float64
 42  total_rec_late_fee           887379 non-null  float64
 43  recoveries                   887379 non-null  float64
 44  collection_recovery_fee      887379 non-null  float64
 45  last_pymnt_d                 869720 non-null  object
 46  last_pymnt_amnt              887379 non-null  float64
 47  next_pymnt_d                 634408 non-null  object
 48  last_credit_pull_d           887326 non-null  object
 49  collections_12_mths_ex_med   887234 non-null  float64
 50  mths_since_last_major_derog  221703 non-null  float64
 51  policy_code                  887379 non-null  float64
 52  application_type             887379 non-null  object
 53  annual_inc_joint             511 non-null     float64
 54  dti_joint                    509 non-null     float64
 55  verification_status_joint    511 non-null     object
 56  acc_now_delinq               887350 non-null  float64
 57  tot_coll_amt                 817103 non-null  float64
 58  tot_cur_bal                  817103 non-null  float64
 59  open_acc_6m                  21372 non-null   float64
 60  open_il_6m                   21372 non-null   float64
 61  open_il_12m                  21372 non-null   float64
 62  open_il_24m                  21372 non-null   float64
 63  mths_since_rcnt_il           20810 non-null   float64
 64  total_bal_il                 21372 non-null   float64
 65  il_util                      18617 non-null   float64
 66  open_rv_12m                  21372 non-null   float64
 67  open_rv_24m                  21372 non-null   float64
 68  max_bal_bc                   21372 non-null   float64
 69  all_util                     21372 non-null   float64
 70  total_rev_hi_lim             817103 non-null  float64
 71  inq_fi                       21372 non-null   float64
 72  total_cu_tl                  21372 non-null   float64
 73  inq_last_12m                 21372 non-null   float64
dtypes: float64(49), int64(2), object(23)
memory usage: 501.0+ MB

# 2. Filtering and Cleaning

In [17]:
# Filter for single person applications
df_indv = df[df["application_type"] != "JOINT"]

In [18]:
df_indv.info()

<class 'pandas.core.frame.DataFrame'>
Index: 886868 entries, 0 to 887378
Data columns (total 74 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           886868 non-null  int64
 1   member_id                    886868 non-null  int64
 2   loan_amnt                    886868 non-null  float64
 3   funded_amnt                  886868 non-null  float64
 4   funded_amnt_inv              886868 non-null  float64
 5   term                         886868 non-null  object
 6   int_rate                     886868 non-null  float64
 7   installment                  886868 non-null  float64
 8   grade                        886868 non-null  object
 9   sub_grade                    886868 non-null  object
 10  emp_title                    835467 non-null  object
 11  emp_length                   842104 non-null  object
 12  home_ownership               886868 non-null  object
 13  annual_inc                   886864 non-null  float64
 14  verification_status          886868 non-null  object
 15  issue_d                      886868 non-null  object
 16  loan_status                  886868 non-null  object
 17  pymnt_plan                   886868 non-null  object
 18  url                          886868 non-null  object
 19  desc                         126026 non-null  object
 20  purpose                      886868 non-null  object
 21  title                        886724 non-null  object
 22  zip_code                     886868 non-null  object
 23  addr_state                   886868 non-null  object
 24  dti                          886868 non-null  float64
 25  delinq_2yrs                  886839 non-null  float64
 26  earliest_cr_line             886839 non-null  object
 27  inq_last_6mths               886839 non-null  float64
 28  mths_since_last_delinq       432788 non-null  float64
 29  mths_since_last_record       136937 non-null  float64
 30  open_acc                     886839 non-null  float64
 31  pub_rec                      886839 non-null  float64
 32  revol_bal                    886868 non-null  float64
 33  revol_util                   886366 non-null  float64
 34  total_acc                    886839 non-null  float64
 35  initial_list_status          886868 non-null  object
 36  out_prncp                    886868 non-null  float64
 37  out_prncp_inv                886868 non-null  float64
 38  total_pymnt                  886868 non-null  float64
 39  total_pymnt_inv              886868 non-null  float64
 40  total_rec_prncp              886868 non-null  float64
 41  total_rec_int                886868 non-null  float64
 42  total_rec_late_fee           886868 non-null  float64
 43  recoveries                   886868 non-null  float64
 44  collection_recovery_fee      886868 non-null  float64
 45  last_pymnt_d                 869347 non-null  object
 46  last_pymnt_amnt              886868 non-null  float64
 47  next_pymnt_d                 633898 non-null  object
 48  last_credit_pull_d           886815 non-null  object
 49  collections_12_mths_ex_med   886723 non-null  float64
 50  mths_since_last_major_derog  221556 non-null  float64
 51  policy_code                  886868 non-null  float64
 52  application_type             886868 non-null  object
 53  annual_inc_joint             0 non-null       float64
 54  dti_joint                    0 non-null       float64
 55  verification_status_joint    0 non-null       object
 56  acc_now_delinq               886839 non-null  float64
 57  tot_coll_amt                 816592 non-null  float64
 58  tot_cur_bal                  816592 non-null  float64
 59  open_acc_6m                  21209 non-null   float64
 60  open_il_6m                   21209 non-null   float64
 61  open_il_12m                  21209 non-null   float64
 62  open_il_24m                  21209 non-null   float64
 63  mths_since_rcnt_il           20648 non-null   float64
 64  total_bal_il                 21209 non-null   float64
 65  il_util                      18476 non-null   float64
 66  open_rv_12m                  21209 non-null   float64
 67  open_rv_24m                  21209 non-null   float64
 68  max_bal_bc                   21209 non-null   float64
 69  all_util                     21209 non-null   float64
 70  total_rev_hi_lim             816592 non-null  float64
 71  inq_fi                       21209 non-null   float64
 72  total_cu_tl                  21209 non-null   float64
 73  inq_last_12m                 21209 non-null   float64
dtypes: float64(49), int64(2), object(23)
memory usage: 507.5+ MB

In [19]:
# Extract relevant columns to new df
df_indv.drop(columns=df_indv.columns.difference(['id','member_id','loan_amnt','funded_amnt','term','int_rate','installment',
                                         'grade','sub_grade','emp_length','home_ownership','annual_inc','verification_status','loan_status','pymnt_plan','purpose','addr_state','dti','delinq_2yrs','mths_since_last_delinq','total_acc','out_prncp', 'total_pymnt','total_rec_prncp','total_rec_interest','total_rec_late_fee','acc_now_delinq']), inplace=True)

/var/folders/97/w7m6hrnj5lldx6gxjw172mnm0000gn/T/ipykernel_60420/2425348983.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_indv.drop(columns=df_indv.columns.difference(['id','member_id','loan_amnt','funded_amnt','term','int_rate','installment',

# Dealing with Nulls

In [21]:
# Look at all the nulls 
df_indv.isnull().sum()

id                             0
member_id                      0
loan_amnt                      0
funded_amnt                    0
term                           0
int_rate                       0
installment                    0
grade                          0
sub_grade                      0
emp_length                 44764
home_ownership                 0
annual_inc                     4
verification_status            0
loan_status                    0
pymnt_plan                     0
purpose                        0
addr_state                     0
dti                            0
delinq_2yrs                   29
mths_since_last_delinq    454080
total_acc                     29
out_prncp                      0
total_pymnt                    0
total_rec_prncp                0
total_rec_late_fee             0
acc_now_delinq                29
dtype: int64

In [22]:
# Fill any int or float columns null with 0

for column in df_indv.columns:
    if df_indv[column].isnull().any() and df_indv[column].dtype in ['int64', 'float64']:
        df_indv[column].fillna(0, inplace=True)
df_indv.isnull().sum()

/var/folders/97/w7m6hrnj5lldx6gxjw172mnm0000gn/T/ipykernel_60420/3038040467.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_indv[column].fillna(0, inplace=True)

id                            0
member_id                     0
loan_amnt                     0
funded_amnt                   0
term                          0
int_rate                      0
installment                   0
grade                         0
sub_grade                     0
emp_length                44764
home_ownership                0
annual_inc                    0
verification_status           0
loan_status                   0
pymnt_plan                    0
purpose                       0
addr_state                    0
dti                           0
delinq_2yrs                   0
mths_since_last_delinq        0
total_acc                     0
out_prncp                     0
total_pymnt                   0
total_rec_prncp               0
total_rec_late_fee            0
acc_now_delinq                0
dtype: int64

In [23]:
emp_length_map = {
    '10+ years': 11,
    '< 1 year': 0,
    '1 year': 1,
    '2 years': 2,
    '3 years': 3,
    '4 years': 4,
    '5 years': 5,
    '6 years': 6,
    '7 years': 7,
    '8 years': 8,
    '9 years': 9,
    np.nan: 0  
}

df_indv['emp_length'] = df_indv['emp_length'].map(emp_length_map)

/var/folders/97/w7m6hrnj5lldx6gxjw172mnm0000gn/T/ipykernel_60420/2576558623.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_indv['emp_length'] = df_indv['emp_length'].map(emp_length_map)

In [24]:
df_indv['emp_length'].unique()

array([11,  0,  1,  3,  8,  9,  4,  5,  6,  2,  7])

In [25]:
df_indv.isnull().sum()

id                        0
member_id                 0
loan_amnt                 0
funded_amnt               0
term                      0
int_rate                  0
installment               0
grade                     0
sub_grade                 0
emp_length                0
home_ownership            0
annual_inc                0
verification_status       0
loan_status               0
pymnt_plan                0
purpose                   0
addr_state                0
dti                       0
delinq_2yrs               0
mths_since_last_delinq    0
total_acc                 0
out_prncp                 0
total_pymnt               0
total_rec_prncp           0
total_rec_late_fee        0
acc_now_delinq            0
dtype: int64

# Dealing with non numeric features

In [26]:
df_indv.info()

<class 'pandas.core.frame.DataFrame'>
Index: 886868 entries, 0 to 887378
Data columns (total 26 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      886868 non-null  int64
 1   member_id               886868 non-null  int64
 2   loan_amnt               886868 non-null  float64
 3   funded_amnt             886868 non-null  float64
 4   term                    886868 non-null  object
 5   int_rate                886868 non-null  float64
 6   installment             886868 non-null  float64
 7   grade                   886868 non-null  object
 8   sub_grade               886868 non-null  object
 9   emp_length              886868 non-null  int64
 10  home_ownership          886868 non-null  object
 11  annual_inc              886868 non-null  float64
 12  verification_status     886868 non-null  object
 13  loan_status             886868 non-null  object
 14  pymnt_plan              886868 non-null  object
 15  purpose                 886868 non-null  object
 16  addr_state              886868 non-null  object
 17  dti                     886868 non-null  float64
 18  delinq_2yrs             886868 non-null  float64
 19  mths_since_last_delinq  886868 non-null  float64
 20  total_acc               886868 non-null  float64
 21  out_prncp               886868 non-null  float64
 22  total_pymnt             886868 non-null  float64
 23  total_rec_prncp         886868 non-null  float64
 24  total_rec_late_fee      886868 non-null  float64
 25  acc_now_delinq          886868 non-null  float64
dtypes: float64(14), int64(3), object(9)
memory usage: 182.7+ MB

# Grade and Subgrade

In [27]:
df_indv['grade'].unique()

array(['B', 'C', 'A', 'E', 'F', 'D', 'G'], dtype=object)

In [28]:
sorted(df_indv['sub_grade'].unique())

['A1',
 'A2',
 'A3',
 'A4',
 'A5',
 'B1',
 'B2',
 'B3',
 'B4',
 'B5',
 'C1',
 'C2',
 'C3',
 'C4',
 'C5',
 'D1',
 'D2',
 'D3',
 'D4',
 'D5',
 'E1',
 'E2',
 'E3',
 'E4',
 'E5',
 'F1',
 'F2',
 'F3',
 'F4',
 'F5',
 'G1',
 'G2',
 'G3',
 'G4',
 'G5']

In [29]:
grades = {
    'A' : 1,
    'B' : 2,
    'C' : 3,
    'D' : 4,
    'E' : 5,
    'F' : 6,
    'G' : 7
}
subgrades = {
    'A1': 1,
 'A2': 2,
 'A3': 3,
 'A4': 4,
 'A5': 5,
 'B1': 6,
 'B2': 7,
    'B3': 8,
 'B4': 9,
 'B5':10,
 'C1': 11,
 'C2': 12,
 'C3': 13,
 'C4': 14,
 'C5': 15,
 'D1': 16,
 'D2': 17,
 'D3': 18,
 'D4': 19,
 'D5': 20,
 'E1': 21,
 'E2': 22,
 'E3': 23,
 'E4': 24,
 'E5': 25,
 'F1': 26,
 'F2': 27,
 'F3': 28,
 'F4': 29,
 'F5': 30,
 'G1': 31,
 'G2': 32,
 'G3': 33,
 'G4': 34,
 'G5': 35
}

In [30]:
df_indv['grade'] = df_indv['grade'].map(grades)
df_indv['sub_grade'] = df_indv['sub_grade'].map(subgrades)

/var/folders/97/w7m6hrnj5lldx6gxjw172mnm0000gn/T/ipykernel_60420/957768247.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_indv['grade'] = df_indv['grade'].map(grades)
/var/folders/97/w7m6hrnj5lldx6gxjw172mnm0000gn/T/ipykernel_60420/957768247.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_indv['sub_grade'] = df_indv['sub_grade'].map(subgrades)

In [31]:
df_indv.head(5)

,id,member_id,loan_amnt,funded_amnt,term,int_rate,installment,grade,sub_grade,emp_length,...,addr_state,dti,delinq_2yrs,mths_since_last_delinq,total_acc,out_prncp,total_pymnt,total_rec_prncp,total_rec_late_fee,acc_now_delinq
0,1077501,1296599,5000.0,5000.0,36 months,10.65,162.87,2,7,11,...,AZ,27.65,0.0,0.0,9.0,0.0,5861.071414,5000.00,0.00,0.0
1,1077430,1314167,2500.0,2500.0,60 months,15.27,59.83,3,14,0,...,GA,1.00,0.0,0.0,4.0,0.0,1008.710000,456.46,0.00,0.0
2,1077175,1313524,2400.0,2400.0,36 months,15.96,84.33,3,15,11,...,IL,8.72,0.0,0.0,10.0,0.0,3003.653644,2400.00,0.00,0.0
3,1076863,1277178,10000.0,10000.0,36 months,13.49,339.31,3,11,11,...,CA,20.00,0.0,35.0,37.0,0.0,12226.302212,10000.00,16.97,0.0
4,1075358,1311748,3000.0,3000.0,60 months,12.69,67.79,2,10,1,...,OR,17.94,0.0,38.0,38.0,766.9,3242.170000,2233.10,0.00,0.0

# Term

In [32]:
df_indv['term']

0          36 months
1          60 months
2          36 months
3          36 months
4          60 months
             ...
887374     36 months
887375     36 months
887376     60 months
887377     60 months
887378     36 months
Name: term, Length: 886868, dtype: object

In [33]:
df_indv['term'] = df_indv['term'].str.extract('(\d+)').astype(int)

/var/folders/97/w7m6hrnj5lldx6gxjw172mnm0000gn/T/ipykernel_60420/2965426749.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_indv['term'] = df_indv['term'].str.extract('(\d+)').astype(int)

In [34]:
df_indv['term']

0         36
1         60
2         36
3         36
4         60
          ..
887374    36
887375    36
887376    60
887377    60
887378    36
Name: term, Length: 886868, dtype: int64

# Homeownership

In [35]:
sorted(df_indv['home_ownership'].unique())

['ANY', 'MORTGAGE', 'NONE', 'OTHER', 'OWN', 'RENT']

In [36]:
homeownership = {
    'ANY': 0,
    'MORTGAGE': -1,
    'NONE': 0,
    'OTHER': 0,
    'OWN': 2,
    'RENT': 1
}

In [37]:
df_indv['home_ownership'] = df_indv['home_ownership'].map(homeownership)

/var/folders/97/w7m6hrnj5lldx6gxjw172mnm0000gn/T/ipykernel_60420/2652194804.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_indv['home_ownership'] = df_indv['home_ownership'].map(homeownership)

In [38]:
df_indv.head(5)

,id,member_id,loan_amnt,funded_amnt,term,int_rate,installment,grade,sub_grade,emp_length,...,addr_state,dti,delinq_2yrs,mths_since_last_delinq,total_acc,out_prncp,total_pymnt,total_rec_prncp,total_rec_late_fee,acc_now_delinq
0,1077501,1296599,5000.0,5000.0,36,10.65,162.87,2,7,11,...,AZ,27.65,0.0,0.0,9.0,0.0,5861.071414,5000.00,0.00,0.0
1,1077430,1314167,2500.0,2500.0,60,15.27,59.83,3,14,0,...,GA,1.00,0.0,0.0,4.0,0.0,1008.710000,456.46,0.00,0.0
2,1077175,1313524,2400.0,2400.0,36,15.96,84.33,3,15,11,...,IL,8.72,0.0,0.0,10.0,0.0,3003.653644,2400.00,0.00,0.0
3,1076863,1277178,10000.0,10000.0,36,13.49,339.31,3,11,11,...,CA,20.00,0.0,35.0,37.0,0.0,12226.302212,10000.00,16.97,0.0
4,1075358,1311748,3000.0,3000.0,60,12.69,67.79,2,10,1,...,OR,17.94,0.0,38.0,38.0,766.9,3242.170000,2233.10,0.00,0.0

# Verification

In [39]:
sorted(df_indv['verification_status'].unique())

['Not Verified', 'Source Verified', 'Verified']

In [40]:
verification = {
    'Not Verified' : -1,
    'Source Verified':1,
    'Verified': 2
}

In [41]:
df_indv['verification_status'] = df_indv['verification_status'].map(verification)

/var/folders/97/w7m6hrnj5lldx6gxjw172mnm0000gn/T/ipykernel_60420/1413696828.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_indv['verification_status'] = df_indv['verification_status'].map(verification)

In [42]:
df_indv.head(5)

,id,member_id,loan_amnt,funded_amnt,term,int_rate,installment,grade,sub_grade,emp_length,...,addr_state,dti,delinq_2yrs,mths_since_last_delinq,total_acc,out_prncp,total_pymnt,total_rec_prncp,total_rec_late_fee,acc_now_delinq
0,1077501,1296599,5000.0,5000.0,36,10.65,162.87,2,7,11,...,AZ,27.65,0.0,0.0,9.0,0.0,5861.071414,5000.00,0.00,0.0
1,1077430,1314167,2500.0,2500.0,60,15.27,59.83,3,14,0,...,GA,1.00,0.0,0.0,4.0,0.0,1008.710000,456.46,0.00,0.0
2,1077175,1313524,2400.0,2400.0,36,15.96,84.33,3,15,11,...,IL,8.72,0.0,0.0,10.0,0.0,3003.653644,2400.00,0.00,0.0
3,1076863,1277178,10000.0,10000.0,36,13.49,339.31,3,11,11,...,CA,20.00,0.0,35.0,37.0,0.0,12226.302212,10000.00,16.97,0.0
4,1075358,1311748,3000.0,3000.0,60,12.69,67.79,2,10,1,...,OR,17.94,0.0,38.0,38.0,766.9,3242.170000,2233.10,0.00,0.0

# Loan status -> default

In [43]:
sorted(df_indv['loan_status'].unique())

['Charged Off',
 'Current',
 'Default',
 'Does not meet the credit policy. Status:Charged Off',
 'Does not meet the credit policy. Status:Fully Paid',
 'Fully Paid',
 'In Grace Period',
 'Issued',
 'Late (16-30 days)',
 'Late (31-120 days)']

In [44]:
l_stat = {
    'Charged Off': 1,
    'Default':1,
    'Does not meet the credit policy. Status:Charged Off':0,
    'Late (16-30 days)':1,
    'Late (31-120 days)': 1,
 'Current': 0,
 'Does not meet the credit policy. Status:Fully Paid' : 0,
 'Fully Paid': 0,
 'In Grace Period':0,
 'Issued': 0,
}

In [45]:
df_indv['loan_status'] = df_indv['loan_status'].map(l_stat)

/var/folders/97/w7m6hrnj5lldx6gxjw172mnm0000gn/T/ipykernel_60420/382645031.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_indv['loan_status'] = df_indv['loan_status'].map(l_stat)

In [46]:
df_indv.head(15)

,id,member_id,loan_amnt,funded_amnt,term,int_rate,installment,grade,sub_grade,emp_length,...,addr_state,dti,delinq_2yrs,mths_since_last_delinq,total_acc,out_prncp,total_pymnt,total_rec_prncp,total_rec_late_fee,acc_now_delinq
0,1077501,1296599,5000.0,5000.0,36,10.65,162.87,2,7,11,...,AZ,27.65,0.0,0.0,9.0,0.00,5861.071414,5000.00,0.00,0.0
1,1077430,1314167,2500.0,2500.0,60,15.27,59.83,3,14,0,...,GA,1.00,0.0,0.0,4.0,0.00,1008.710000,456.46,0.00,0.0
2,1077175,1313524,2400.0,2400.0,36,15.96,84.33,3,15,11,...,IL,8.72,0.0,0.0,10.0,0.00,3003.653644,2400.00,0.00,0.0
3,1076863,1277178,10000.0,10000.0,36,13.49,339.31,3,11,11,...,CA,20.00,0.0,35.0,37.0,0.00,12226.302212,10000.00,16.97,0.0
4,1075358,1311748,3000.0,3000.0,60,12.69,67.79,2,10,1,...,OR,17.94,0.0,38.0,38.0,766.90,3242.170000,2233.10,0.00,0.0
5,1075269,1311441,5000.0,5000.0,36,7.90,156.46,1,4,3,...,AZ,11.20,0.0,0.0,12.0,0.00,5631.377753,5000.00,0.00,0.0
6,1069639,1304742,7000.0,7000.0,60,15.96,170.08,3,15,8,...,NC,23.51,0.0,0.0,11.0,1889.15,8136.840000,5110.85,0.00,0.0
7,1072053,1288686,3000.0,3000.0,36,18.64,109.43,5,21,9,...,CA,5.35,0.0,0.0,4.0,0.00,3938.144334,3000.00,0.00,0.0
8,1071795,1306957,5600.0,5600.0,60,21.28,152.39,6,27,4,...,CA,5.55,0.0,0.0,13.0,0.00,646.020000,162.02,0.00,0.0
9,1071570,1306721,5375.0,5375.0,60,12.69,121.45,2,10,0,...,TX,18.08,0.0,0.0,3.0,0.00,1476.190000,673.48,0.00,0.0
10,1070078,1305201,6500.0,6500.0,60,14.65,153.45,3,13,5,...,AZ,16.12,0.0,0.0,23.0,0.00,7677.520000,6500.00,0.00,0.0
11,1069908,1305008,12000.0,12000.0,36,12.69,402.54,2,10,11,...,CA,10.78,0.0,0.0,34.0,0.00,13943.080000,12000.00,0.00,0.0
12,1064687,1298717,9000.0,9000.0,36,13.49,305.38,3,11,0,...,VA,10.08,0.0,0.0,9.0,0.00,2270.700000,1256.14,0.00,0.0
13,1069866,1304956,3000.0,3000.0,36,9.91,96.68,2,6,3,...,IL,12.56,0.0,0.0,11.0,0.00,3478.981915,3000.00,0.00,0.0
14,1069057,1303503,10000.0,10000.0,36,10.65,325.74,2,7,3,...,CA,7.06,0.0,0.0,29.0,0.00,7471.990000,5433.47,0.00,0.0

# payment plan

In [47]:
sorted(df_indv['pymnt_plan'].unique())

['n', 'y']

In [48]:
paym_plan = {
    'n' : 0,
    'y' : 1
}

In [49]:
df_indv['pymnt_plan'] = df_indv['pymnt_plan'].map(paym_plan)

/var/folders/97/w7m6hrnj5lldx6gxjw172mnm0000gn/T/ipykernel_60420/3211961842.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_indv['pymnt_plan'] = df_indv['pymnt_plan'].map(paym_plan)

# Purpose

In [50]:
sorted(df_indv['purpose'].unique())

['car',
 'credit_card',
 'debt_consolidation',
 'educational',
 'home_improvement',
 'house',
 'major_purchase',
 'medical',
 'moving',
 'other',
 'renewable_energy',
 'small_business',
 'vacation',
 'wedding']

In [51]:
for col in ["purpose", "addr_state"]:
    le = LabelEncoder()
    le.fit(df_indv[col])
    df_indv[col] = le.transform(df_indv[col])
df_indv.head()

/var/folders/97/w7m6hrnj5lldx6gxjw172mnm0000gn/T/ipykernel_60420/2936455858.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_indv[col] = le.transform(df_indv[col])
/var/folders/97/w7m6hrnj5lldx6gxjw172mnm0000gn/T/ipykernel_60420/2936455858.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_indv[col] = le.transform(df_indv[col])

,id,member_id,loan_amnt,funded_amnt,term,int_rate,installment,grade,sub_grade,emp_length,...,addr_state,dti,delinq_2yrs,mths_since_last_delinq,total_acc,out_prncp,total_pymnt,total_rec_prncp,total_rec_late_fee,acc_now_delinq
0,1077501,1296599,5000.0,5000.0,36,10.65,162.87,2,7,11,...,3,27.65,0.0,0.0,9.0,0.0,5861.071414,5000.00,0.00,0.0
1,1077430,1314167,2500.0,2500.0,60,15.27,59.83,3,14,0,...,10,1.00,0.0,0.0,4.0,0.0,1008.710000,456.46,0.00,0.0
2,1077175,1313524,2400.0,2400.0,36,15.96,84.33,3,15,11,...,14,8.72,0.0,0.0,10.0,0.0,3003.653644,2400.00,0.00,0.0
3,1076863,1277178,10000.0,10000.0,36,13.49,339.31,3,11,11,...,4,20.00,0.0,35.0,37.0,0.0,12226.302212,10000.00,16.97,0.0
4,1075358,1311748,3000.0,3000.0,60,12.69,67.79,2,10,1,...,37,17.94,0.0,38.0,38.0,766.9,3242.170000,2233.10,0.00,0.0

In [52]:
df_indv.info()

<class 'pandas.core.frame.DataFrame'>
Index: 886868 entries, 0 to 887378
Data columns (total 26 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      886868 non-null  int64
 1   member_id               886868 non-null  int64
 2   loan_amnt               886868 non-null  float64
 3   funded_amnt             886868 non-null  float64
 4   term                    886868 non-null  int64
 5   int_rate                886868 non-null  float64
 6   installment             886868 non-null  float64
 7   grade                   886868 non-null  int64
 8   sub_grade               886868 non-null  int64
 9   emp_length              886868 non-null  int64
 10  home_ownership          886868 non-null  int64
 11  annual_inc              886868 non-null  float64
 12  verification_status     886868 non-null  int64
 13  loan_status             886868 non-null  int64
 14  pymnt_plan              886868 non-null  int64
 15  purpose                 886868 non-null  int64
 16  addr_state              886868 non-null  int64
 17  dti                     886868 non-null  float64
 18  delinq_2yrs             886868 non-null  float64
 19  mths_since_last_delinq  886868 non-null  float64
 20  total_acc               886868 non-null  float64
 21  out_prncp               886868 non-null  float64
 22  total_pymnt             886868 non-null  float64
 23  total_rec_prncp         886868 non-null  float64
 24  total_rec_late_fee      886868 non-null  float64
 25  acc_now_delinq          886868 non-null  float64
dtypes: float64(14), int64(12)
memory usage: 182.7 MB

In [53]:
df_indv.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'loan_status', 'pymnt_plan',
       'purpose', 'addr_state', 'dti', 'delinq_2yrs', 'mths_since_last_delinq',
       'total_acc', 'out_prncp', 'total_pymnt', 'total_rec_prncp',
       'total_rec_late_fee', 'acc_now_delinq'],
      dtype='object')

In [57]:
df_indv.rename(columns={'loan_status': 'default'}, inplace=True)

/var/folders/97/w7m6hrnj5lldx6gxjw172mnm0000gn/T/ipykernel_60420/972597905.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_indv.rename(columns={'loan_status': 'default'}, inplace=True)

In [58]:
columns = ['id', 'member_id', 'loan_amnt', 'funded_amnt', 'term', 'int_rate',
           'installment', 'grade', 'sub_grade', 'emp_length', 'home_ownership',
           'annual_inc', 'verification_status', 'pymnt_plan', 'purpose', 
           'addr_state', 'dti', 'delinq_2yrs', 'mths_since_last_delinq',
           'total_acc', 'out_prncp', 'total_pymnt', 'total_rec_prncp',
           'total_rec_late_fee', 'acc_now_delinq', 'default']

df_indv = df_indv[columns]

In [59]:
df_indv.to_csv("cleaned_data.csv")